<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata|Teko&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/public/admin.css">
    <title><%= top_title %></title>
</head>
<body>
    <main>
        <section class="admin">
            <div class="admin-menu">
                <ul>
                    <li><a href="/"> BACK TO BLOG </a></li>
                    <li><a href="/admin/all"> ALL POSTS </a></li>
                    <li><a href="/admin/add"> ADD POST </a></li>
                    <li><a href="/admin/emails"> EMAIL LIST </a></li>
                    <li><a href="/admin/requests"> REQUESTS </a></li>
                </ul>
            </div>