<footer>
    <div class="footer-list">
        <div class="footer-box footer-1">
            <h4>Get a new diet Tip each and every Week.</h4>
            <form method="POST" action="/email/list" class="footer-form">
                <input name="email" type="email" placeholder="Your email address" required>
                <input type="hidden" name="text" value="text value" required>
                <button>Submit</button>
            </form>
        </div>
        <div class="footer-box footer-2">
            <ul>
                <li><a href="#"> Press & Reviews </a></li>
                <li><a href="#"> jobs </a></li>
                <li><a href="#"> Privacy </a></li>
                <li><a href="#"> Warranty & Returns </a></li>
            </ul>
        </div>
        <div class="footer-box footer-3">
            <ul>
                <li><a href="/"> showcase </a></li>
                <li><a href="/all-posts"> all posts </a></li>
                <li><a href="/about-us"> About Us </a></li>
                <li><a href="/contact-us"> Contact Us </a></li>
            </ul>
        </div>
        <div class="footer-box footer-4">
            <ul>
                <li> <h5>See the latest and Follow us</h5> </li>
                <li><a target="_blank" href="https://www.instagram.com/encrypted_guy"> facebook </a></li>
                <li><a target="_blank" href="https://www.instagram.com/encrypted_guy"> instergram </a></li>
                <li><a target="_blank" href="https://www.instagram.com/encrypted_guy"> twitter </a></li>
            </ul>
        </div>
    </div>
</footer>



<script src="/public/script.js"></script>
</body>
</html>