<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata|Teko&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <meta name="theme-color" content="#575965">
    <link rel="stylesheet" href="/public/style.css" type="text/css">
    <title>VEGAN</title>
</head>
<body>
    <header>
        <a href="/">
            <h4>vegan</h4>
        </a>
        <nav class="responsive">
            <ul>
                <li><a href="/">home</a></li>
                <li><a href="/all-posts">all posts</a></li>
                <li><a href="/about-us">about us</a></li>
                <li><a href="/contact-us">contact us</a></li>
            </ul>
        </nav>
        <h3 class="menu"> <i class="fas fa-bars"></i> </h3>
    </header>
