<%- include('partials/header.ejs') %>

<main>

    <div class="about-contener">
        <div class="about-all">
            <div class="about-img">
                <img src="/public/about1.png" alt="" class="about-img-tag">
            </div>
            <div class="about-info">
                <h2><span class="about-heading"> vegan </span></h2>
                <p>
                    Fruit and vegetables should be an important part of your daily diet. They are naturally good and contain vitamins and minerals that can help to keep you healthy. They can also help protect against some diseases.
                    Most Australians will benefit from eating more fruit and vegetables as part of a well-balanced, regular diet and a healthy, active lifestyle. There are many varieties of fruit and vegetables available and many ways to prepare, cook and serve them.
                    <br>
                    You should eat at least five serves of vegetables and two serves of fruit each day. Choose different colours and varieties.
                    A serve of vegetables is about one cup of raw salad vegetables or 1/2 cup of cooked.
                    A serve of fruit is about one medium piece, 2 small pieces of 1 cup canned (no added sugar).
                </p>
            </div>
        </div>
    </div>

</main>

<%- include('partials/footer.ejs') %>