<%- include('partials/adminheader.ejs') %>

    <div class="admin-all">
        <h2> <span class="admin-heading"> Number of posts </span> </h2>
        <div class="count-posts">
            <%= count %>
        </div>
    </div>
    
<%- include('partials/adminfooter.ejs') %>
